@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");

@layer base {
  body {
    @apply font-[Raleway];
  }
  li {
    @apply px-3;
    @apply cursor-pointer;
  }
}

.content-div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 250px;
}

.content-div:hover {
  background-image: linear-gradient(
    to right,
    #0b015ae0,
    #0b015a69,
    #0b015ae0
  ) !important;
}

.writer-text {
  display: inline-block;
  overflow: hidden;
  letter-spacing: 2px;
  animation: blink 1s infinite step-start;
  white-space: nowrap;
  border-right: 4px solid #8892b0;
  box-sizing: border-box;
}


@keyframes blink {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #8892b0;
  }
}



